---
import Section from "../components/common/Section.astro";
import Layout from "../layouts/Layout.astro";
import { getConfigurationCollection } from "../lib/utils";

const { data: config } = await getConfigurationCollection();
---

<Layout>
  <Fragment slot="head">
    <title>{config.notFoundMeta.title}</title>
    <meta
      name="description"
      content={config.notFoundMeta.longDescription ??
        config.notFoundMeta.description}
    />
    <meta property="og:title" content={config.notFoundMeta.title} />
    <meta property="og:description" content={config.notFoundMeta.description} />
    {
      config.notFoundMeta.keywords && (
        <meta
          name="keywords"
          content={config.notFoundMeta.keywords.join(", ")}
        />
      )
    }
    {
      config.notFoundMeta.cardImage && (
        <meta property="og:image" content={config.notFoundMeta.cardImage} />
      )
    }
    <meta property="og:url" content={config.site.baseUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={config.notFoundMeta.title} />
    <meta
      name="twitter:description"
      content={config.notFoundMeta.description}
    />
    {
      config.notFoundMeta.cardImage && (
        <meta name="twitter:image" content={config.notFoundMeta.cardImage} />
      )
    }
    <meta http-equiv="content-language" content="pt-BR" />
    <meta name="language" content="Português" />
    <link rel="canonical" href={config.site.baseUrl} />
  </Fragment>
  <Section class="mt-16">
    <h1 class="text-3xl sm:text-4xl font-display pb-8">
      Bem, isso é constrangedor
    </h1>
    <h2 class="text-xl sm:text-2xl pb-8">404 - Página não encontrada</h2>
    <p>
      Parece que esta página não existe. Se quiser voltar à segurança, <a
        class="underline underline-offset-4 font-medium"
        href="/">clique aqui para voltar ao início</a
      >.
    </p>
  </Section>
</Layout>
